*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

h1{
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  margin-bottom: 1.4rem;
}

p {
  margin-bottom: 1.4rem;
}

body{
  font-size: 1.6rem;
}

a {
  cursor: pointer;
}
